/* stylesheet */

 body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    object-fit: contain;
 }

 .header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 100px;
    flex-shrink: 0;
 }

 .logo {
    font-size: 24px;
    color: #F9FAF8;
 }
 
 .links {
    display: flex;
    justify-content: space-between;
    gap: 32px;
 }

 .headerLinks,
 .norminfo {
    font-size: 18px;
    color: #E5E7EB;
 }

 .headerLinks {
    text-decoration: none;
 }

.hero {
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 200px;
    flex: 0 1 1;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
    flex: 0 1 1;
}

.boldinfo {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bolder;
}

.norminfo,
.boldinfo {
    max-width: 500px;
    margin: 0;
    padding: 0;
}

img {
    width: 250px;
    height: auto;
    border-radius: 10%;
}


