/* stylesheet */

 body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    object-fit: contain;
 }

 .header {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 0;
    gap: 50%;
 }

 .logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
 }
 
 .links {
    display: flex;
    justify-content: space-between;
    gap: 32px;
 }

 .headerLinks,
 .norminfo {
    font-size: 18px;
    color: #E5E7EB;
 }

 .headerLinks {
    text-decoration: none;
 }

.hero {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 300px;
    gap: 30%;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.boldinfo {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 0;
    padding: 0;
}

.norminfo {
    width: 500px;
}

img {
    width: 200px;
    height: auto;
    border-radius: 10%;
}

.middle {
   display: flex;
   flex-direction: column;
}
.things {
   display: flex;
   justify-content: space-around;
   align-items: center;
   padding: 24px 0px;
}

.thingsHeader {
   font-size: 36px;
   color: #1F2937;
   font-weight: 900;
}

.pics {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 70px;
   padding: 24px 0px;
}

.text {
   text-align: center;
   font-weight: 300;
}


.img-container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   max-width: min-content;
}

.imgs {
   width: 200px;
   height: 200px;
}

.bottom {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #E5E7EB;
   padding: 120px 60px

}

.quote {
   font-size: 36px;
   font-weight: 300;
   font-style: italic;
   margin: 0;
}

.author {
   font-weight: 300;
   font-style: italic;
   text-align: end;
}

.footer {
   background-color: #1F2937;
   display: flex;
   justify-content: center;
   align-items: center;
}

.copyright {
   font-weight: 300;
   color: white;
   font-style: italic;
}

.projects {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.loader {
   margin: auto;
   border: 20px solid #EAF0F6;
   border-radius: 50%;
   border-top: 20px solid #0e008c;
   width: 200px;
   height: 200px;
   animation: spinner 4s linear infinite;
 }
 @keyframes spinner {
   0% { transform: rotate(0deg); }
   100% { transform: rotate(360deg); }
 }

 .loaderText {
   text-align: center;
   font-style: italic;
   font-weight: 300;
   margin: auto;
   padding: 24px;
 }